.button {
    padding: 6px 20px;
    border-radius: 6px;
    border: none;
    font-size: 12pt;
}

.button:hover {
    cursor: pointer;
}

.buttonPrimary {
    background-color: rgb(50, 150, 235);
    color: white;
}

.buttonPrimary:active {
    background-color: rgb(75, 170, 240);
}

.buttonPrimary:disabled {
    background-color: rgb(130, 200, 250);
    cursor: default;
}

.buttonAccept {
    background-color: rgb(55, 185, 55);
    color: white;
}

.buttonAccept:active {
    background-color: rgb(65, 200, 65);
}

.buttonAccept:disabled {
    background-color: rgb(110, 210, 115);
    cursor: default;
}

.buttonDanger {
    background-color: rgb(235, 35, 35);
    color: white;
}

.buttonDanger:active {
    background-color: rgb(240, 65, 65);
}

.buttonDanger:disabled {
    background-color: rgb(250, 130, 130);
    cursor: default;
}